@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.home {
    max-width: 75%;
    min-width: 35%;
    padding: 1rem 3rem;
    border: solid 1px lightgray;
    margin: 7rem auto ;
    margin-left: auto;
    margin-right: auto;

    
}

.title {
    padding-left: 1rem;
    font-family: 'Roboto Condensed', sans-serif;
    bottom: 0;
    display: flex;
}

.title::after{
    margin-top: 1rem;
    width: 80%;
    margin-left: 1rem;
    content:"";
    background-color: #a69eb0;
    height: 2px;
}

.abme {
    display: flex;
    justify-content: space-between;
    
}

.img {
    /* display: flex; */
    width: 8rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.name {
    font-family: 'Black Han Sans', sans-serif;
    text-align: center;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
}

.abmetitle {
    font-family: 'Roboto Condensed', sans-serif;
    bottom: 0;
}

.abmelist {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.content {
    font-family: 'Nanum Gothic';
}